<div ng-controller="AuthenticationController" class="account-login">
  <h2 class="md-headline" translate>Login</h2>
  <form name="authenticationForm" ng-submit="login(authenticationForm)">
    <md-input-container class="md-block">
      <label translate>Username</label>
      <input autofocus type="text" autocomplete="off" ng-disabled="authenticating" ng-model="credentials.username" required />
    </md-input-container>
    <md-input-container class="md-block">
      <label translate>Password</label>
      <input type="password" ng-disabled="authenticating" ng-model="credentials.password" required />
    </md-input-container>
    <div layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" type="submit" ng-disabled="authenticationForm.$invalid || authenticating">
          {{'submit'  | translate}}
        </md-button>
    </div>
  </form>
</div>