<html ng-app="App">
	<head>
		<link rel="stylesheet" href="build/app.css">
		<meta name="viewport" content="initial-scale=1" />
		<title>App</title>
	</head>
	<body layout="column" layout-fill ng-cloak>
		<md-content layout="column" flex>
			<md-toolbar>
				<div class="md-toolbar-tools" ng-controller="AuthenticationController">
					<md-button ng-show="isLoggedIn()" hide-gt-md  ng-click="toggleSidenav('left')" class="md-icon-button">
			        	<md-icon aria-label="show menu" class="material-icons">menu</md-icon>
			        </md-button>
			        <h2 flex>App</h2>
			        <div>
						<md-button ng-show="isLoggedIn()" class="md-icon-button" ng-click="logoff()">
							<md-icon aria-label="logoff">exit_to_app</md-icon>
						</md-button>
					</div>
				</div>
			</md-toolbar>
			<div layout="row" flex>
				<md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
					<div layout="row" layout-align="end center">
						<md-button hide-gt-md ng-click="toggleSidenav('left')" class="md-primary md-icon-button">
							<md-icon aria-label="hide menu">clear</md-icon>
						</md-button>
					</div>
				</md-sidenav>
				<div flex ng-view></div>  
			</div>
		</md-content>
		<script src="build/all.js"></script>
	</body>
</html>