md-sidenav {
	top: 64px !important;
}

@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: portrait) {
	md-sidenav {
	    top: 56px !important;
	}
}
@media only screen and (max-width: 600px) and (min-width: 0) and (orientation: portrait) {
	md-sidenav {
	    top: 56px !important;
	}
}